<header>
    <nav>
        <h2 class="text-white">Basurin - ARSolutions</h2>
        <div class="BtnNav">
            <a href="InicioSecion" class="btnI">Iniciar Sesión</a>
            <a href="Registrase" class="btnI">Registrase</a>
        </div>
    </nav>
</header>