<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Registrarse</title>
</head>
<body class="bg-[linear-gradient(to_right,_#023D54,_#11A86B,_#B4BA5A)]">

    
    <div class="inline-block h-120 w-220 bg-white transform translate-x-62 translate-y-18 rounded-3xl shadow-2xl">
    
        <h2 class="flex text-5xl justify-center transform translate-y-8 text-shadow-2xs"> Registrarse</h2>
        <img src="public/Basurin-Photoroom.png" class="h-50 w-50 transform translate-x-142 translate-y-23 drop-shadow-2xl" alt="Basurín"/>
        <input type="text" id="name" name="name" required placeholder="     Nombre" class="h-10 w-90 bg-gray-300 rounded-2xl transform -translate-y-30 translate-x-14 shadow-2xl">
        <input type="text" id="name" name="name" required placeholder="     Apellidos" class="h-10 w-90 bg-gray-300 rounded-2xl transform -translate-y-11 -translate-x-77 shadow-2xl">
        <input type="email" id="email" name="email" required placeholder="     ejemplo@email.com" class="h-10 w-90 bg-gray-300 rounded-2xl transform -translate-y-2 translate-x-14 shadow-2xl">


        

    </div>

    
</body>
</html>