---
import BarraNav from "../components/BarraNav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Basurín - Inicio</title>
	</head>
	<body class="bg-white">
		
		<BarraNav />

		<section class="h-159 w-full rounded-bl-3xl rounded-br-3xl bg-[linear-gradient(to_right,_#023D54,_#11A86B,_#B4BA5A)] shadow-2xl">

			
			<div class="h-[1px] w-100 bg-white transform translate-y-40 translate-x-10"></div>
			<h2 class="inline-block transform translate-y-50 translate-x-10 text-8xl text-white">Transforma el <br>Futuro del Reciclaje</h2>
			<p class="max-w-screen-xl mx-auto overflow-hidden transform translate-y-55 translate-x-12 text-white">Descubre cómo Basurin está revolucionando la gestión de <br>residuos con tecnología avanzada y compromiso ecológico.</p>
			<div class="h-[1px] w-100 bg-white transform translate-y-49 translate-x-120"></div>
			<p class="inline-block transform translate-y-43 translate-x-224 text-white">Con Basurin, cada residuo encuentra su lugar adecuado, <br>promoviendo un futuro más limpio y sostenible.</p>
				

		</section>

		<article class="w-full h-330 ">

			<div class="inline-block">

				<h2 class="transform translate-y-10 translate-x-145 text-xl text-emerald-600 ">Contribuye al planeta</h2>
				<div class="h-[1px] w-100 bg-emerald-600 transform translate-y-13 translate-x-120"></div>
				<h3 class="transform translate-y-15 translate-x-110 text-3xl">Beneficios de un reciclaje inteligente</h3>
				<p class="transform translate-y-20 translate-x-90 text-center text-gray-700">Basurin ofrece soluciones innovadoras que facilitan el reciclaje, reducen el desperdicio <br>y fomentan una economía circular.</p>

				<div class="Neuro h-40 w-120 transform translate-y-30 translate-x-40">

					<div class="h-10 w-10 bg-emerald-600 rounded-2xl transform translate-y-5 translate-x-4">
				
						<svg class="svg-inline--fa fa-robot text-white w-6 h-6 transform translate-y-2 translate-x-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="robot" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M320 0c17.7 0 32 14.3 32 32V96H472c39.8 0 72 32.2 72 72V440c0 39.8-32.2 72-72 72H168c-39.8 0-72-32.2-72-72V168c0-39.8 32.2-72 72-72H288V32c0-17.7 14.3-32 32-32zM208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H208zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H304zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H400zM264 256a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm152 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80zM48 224H64V416H48c-26.5 0-48-21.5-48-48V272c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H576V224h16z"></path></svg>
				
					</div>
					
					<h4 class="transform -translate-y-3 translate-x-20 font-bold">Tecnología Avanzada</h4>
					<p class="transform translate-x-20 text-gray-700">Clasificación automática de residuos con alta <br>precisión.</p>
				
				</div>

				<div class="Neuro h-40 w-120 transform -translate-y-10 translate-x-175">

					<div class="h-10 w-10 bg-emerald-600 rounded-2xl transform translate-y-5 translate-x-4">
				
						<svg class="svg-inline--fa fa-leaf text-white w-6 h-6 transform translate-y-2 translate-x-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="leaf" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M272 96c-78.6 0-145.1 51.5-167.7 122.5c33.6-17 71.5-26.5 111.7-26.5h88c8.8 0 16 7.2 16 16s-7.2 16-16 16H288 216s0 0 0 0c-16.6 0-32.7 1.9-48.3 5.4c-25.9 5.9-49.9 16.4-71.4 30.7c0 0 0 0 0 0C38.3 298.8 0 364.9 0 440v16c0 13.3 10.7 24 24 24s24-10.7 24-24V440c0-48.7 20.7-92.5 53.8-123.2C121.6 392.3 190.3 448 272 448l1 0c132.1-.7 239-130.9 239-291.4c0-42.6-7.5-83.1-21.1-119.6c-2.6-6.9-12.7-6.6-16.2-.1C455.9 72.1 418.7 96 376 96L272 96z"></path></svg>
				
					</div>
					
					<h4 class="transform -translate-y-3 translate-x-20 font-bold">Impacto Ambiental Positivo</h4>
					<p class="transform translate-x-20 text-gray-700">Reducción de la huella de carbono y conservación de <br>recursos.</p>
				
				</div>

				<div class="Neuro h-40 w-120 transform translate-x-110">

					<div class="h-10 w-10 bg-emerald-600 rounded-2xl transform translate-y-5 translate-x-4">
				
						<svg class="svg-inline--fa fa-hand-holding-heart text-white w-6 h-6 transform translate-y-2 translate-x-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="hand-holding-heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M163.9 136.9c-29.4-29.8-29.4-78.2 0-108s77-29.8 106.4 0l17.7 18 17.7-18c29.4-29.8 77-29.8 106.4 0s29.4 78.2 0 108L310.5 240.1c-6.2 6.3-14.3 9.4-22.5 9.4s-16.3-3.1-22.5-9.4L163.9 136.9zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z"></path></svg>
				
					</div>
					
					<h4 class="transform -translate-y-3 translate-x-20 font-bold">Fácil de Usar</h4>
					<p class="transform translate-x-20 text-gray-700 translate-y-3">Diseñado para ser intuitivo y accesible para todos.</p>
				
				</div>

				<h4 class="transform translate-y-15 translate-x-128 text-3xl">Capacidades del Sistema</h4>
				<p class="transform translate-y-20 translate-x-90 text-center text-gray-700">Basurin combina tecnología de punta y diseño centrado en el usuario para <br>maximizar la eficiencia en la gestión de residuos.</p>

				<div class="Neuro h-40 w-120 transform translate-x-40 translate-y-35">

					<div class="h-10 w-10 transform translate-y-5 translate-x-4">
				
						<svg class="svg-inline--fa fa-recycle w-6 h-6 transform translate-y-2 translate-x-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="recycle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M174.7 45.1C192.2 17 223 0 256 0s63.8 17 81.3 45.1l38.6 61.7 27-15.6c8.4-4.9 18.9-4.2 26.6 1.7s11.1 15.9 8.6 25.3l-23.4 87.4c-3.4 12.8-16.6 20.4-29.4 17l-87.4-23.4c-9.4-2.5-16.3-10.4-17.6-20s3.4-19.1 11.8-23.9l28.4-16.4L283 79c-5.8-9.3-16-15-27-15s-21.2 5.7-27 15l-17.5 28c-9.2 14.8-28.6 19.5-43.6 10.5c-15.3-9.2-20.2-29.2-10.7-44.4l17.5-28zM429.5 251.9c15-9 34.4-4.3 43.6 10.5l24.4 39.1c9.4 15.1 14.4 32.4 14.6 50.2c.3 53.1-42.7 96.4-95.8 96.4L320 448v32c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-64-64c-9.4-9.4-9.4-24.6 0-33.9l64-64c6.9-6.9 17.2-8.9 26.2-5.2s14.8 12.5 14.8 22.2v32l96.2 0c17.6 0 31.9-14.4 31.8-32c0-5.9-1.7-11.7-4.8-16.7l-24.4-39.1c-9.5-15.2-4.7-35.2 10.7-44.4zm-364.6-31L36 204.2c-8.4-4.9-13.1-14.3-11.8-23.9s8.2-17.5 17.6-20l87.4-23.4c12.8-3.4 26 4.2 29.4 17L182 241.2c2.5 9.4-.9 19.3-8.6 25.3s-18.2 6.6-26.6 1.7l-26.5-15.3L68.8 335.3c-3.1 5-4.8 10.8-4.8 16.7c-.1 17.6 14.2 32 31.8 32l32.2 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-32.2 0C42.7 448-.3 404.8 0 351.6c.1-17.8 5.1-35.1 14.6-50.2l50.3-80.5z"></path></svg>
						
					</div>
					
					<h4 class="transform -translate-y-3 translate-x-20 font-bold">Clasificación Inteligente</h4>
					<p class="transform translate-x-20 text-gray-700 translate-y-3">Identifica y separa materiales reciclables con <br>alta precisión.</p>
				
				</div>

				<div class="Neuro h-40 w-120 transform translate-x-175 -translate-y-5">

					<div class="h-10 w-10 transform translate-y-5 translate-x-4">
				
						<svg class="svg-inline--fa fa-clock w-6 h-6 transform translate-y-2 translate-x-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg>
						
					</div>
					
					<h4 class="transform -translate-y-3 translate-x-20 font-bold">Monitoreo en Tiempo Real</h4>
					<p class="transform translate-x-20 text-gray-700 translate-y-3">Consulta el estado de los botes desde cualquier <br>dispositivo.</p>
				
				</div>

				<div class="Neuro h-40 w-120 transform translate-x-109 translate-y-5">

					<div class="h-10 w-10 transform translate-y-5 translate-x-4">
				
						<svg class="svg-inline--fa fa-users w-6 h-6 transform translate-y-2 translate-x-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"></path></svg>
						
					</div>
					
					<h4 class="transform -translate-y-3 translate-x-20 font-bold">Gestión de Usuarios</h4>
					<p class="transform translate-x-20 text-gray-700 translate-y-3">Facilita la colaboración y gestión de equipos en <br>proyectos de reciclaje.</p>
				
				</div>
				
			</div>

		</article>
		  
	</body>
</html>
